.head{
  width: fit-content;
  padding: 40px;
}

.icons{
  margin-top: 50px;
}
#about-us-text{
  background-image: url('assets/images/faint-background.jpg');
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 50px;
  margin-top: 50px;
  padding: 50px;
}

.border-light{
  border-width: 5px !important ;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {}
@media only screen and (min-width : 992px) {}