#app-div {
        height: 400px;
      }
        img {vertical-align: middle;}
        
        .circle-badge {
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50%;
          background: white;
          border: 3pt solid #3392f4;
          box-shadow: 0px 5px 5px rgba(0,0,0,.75);
        }
        .top-badge{
          width: 48px;
          height: 48px;
          color: #61ca5d;
          font-size: x-large;
          margin-top: -20px;
        }
        .bottom-badge{
          width: 97.22px;
          height: 97.22px;
          margin-bottom: -35px;
        }
        #user-review{
          background-color: #3497fd;
          padding: 40px;
        }
        #user-review > #user-review-head{
          padding-bottom: 30px;
          padding-top: 30px;
        }
        
        #header-app-mockup{
          float: right;
          margin-left: 30px;
        }#header-p{
          text-align: right;
          padding-right: 10px;
          font-weight: medium;
          font-size: 27.14pt;
        }
        #header-p > span{
          font-weight: bold;
          font-size: 40.89pt;
        }
        #app-mock-div{
          display: flex;
          align-items: center;
        }
        #main-feature-div{
          margin:50px;
        }
    #main-feature-div > p{
      font-size: 14pt;
      font-weight: regular;
      color: #7f7f7f;
    }
    #download-app-div > .right {
      background-image: url('assets/images/sidelogo_0.png');
      background-repeat: no-repeat;


    }
    #download-app-div > .left{
      position: relative;
      right: 55%;
    }
    #main-feature-div > div > div > hr {
      background-color: #232323;
    }
    ul.service-item{
    list-style-type: none;
    }
    ul.service-item > li{
    display: inline;
    margin: 0px;
    }
    ul.service-item > li > *{
    display: inline-block;
    margin: 0px;
    }

#calculation > div >div > h5{
  font-size: 16pt;
  font-weight: bold;
}
#calculation > div > div > b {
  border-radius: 50%;
  background: #fff;
  padding: 5pt;
  font-size: 34.25pt;
  color: #62cb5d;
}#calculation > h3 {
  font-size: 44.01pt;
  font-weight: bold;
}